In [1]:
import pandas as pd

In [5]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)

In [6]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

- 데이터프레임에서 시리즈 선택하기

In [15]:
first_row = scientists.loc['William Gosset']

In [16]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [17]:
print(type(first_row))

<class 'pandas.core.series.Series'>

- 시리즈 속성과 메서드 사용하기

In [18]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [19]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [20]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [21]:
print(first_row.index[0])

Occupation

In [22]:
print(first_row.keys()[0])

Occupation

- 시리즈의 기초 통계 메서드 사용하기

In [23]:
ages = scientists['Age']

In [24]:
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [25]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

- append : 2개 이상의 시리즈 연결
- describe : 요약 통계량 계산
- drop_duplicates : 중복값이 없는 시리즈 반환
- equals : 시리즈에 해당 값을 가진 요소가 있는지 확인
- get_values : 시리즈 값 구하기 values 속성과 동일
- isin : 시리즈에 포함된 값이 있는지 확인
- min : 최솟값 반환
- max : 최댓값 반환
- mean : 산술 평균 반환