In [1]:
import pandas as pd
scientist = pd.read_csv('./data/scientists.csv')

In [2]:
ages = scientist['Age']

In [3]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [4]:
print(ages.max())
print(ages.mean())

90
59.125

In [5]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [6]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

### 시리즈와 브로드캐스팅
- 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅(Broadcasting)이라고 한다.
- 시리즈처럼 여러 개의 값을 가진 데이터를 벡터라 하고 단순 크기를 나타내는 데이터를 스칼라라고 한다.

In [8]:
# 벡터 + 벡터 -> 같은 길이의 벡터가 출력
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64